body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: skyblue;
}

canvas {
    background: url('background.png') no-repeat center;
    background-size: cover;
}